@page "/{text?}"

<PageTitle>SmartWord!</PageTitle>

<h1 id="start">🔍 SmartWord!</h1>

<input class="p-1 my-4" @bind="query" @onkeyup="RunQuery" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion))
{
    <div class="suggestion">
    <p>¿Quisite decir <strong><a href="/@result.Suggestion-@UrlCounter">@result.Suggestion</a></strong>?</p>
</div>
}

<ul class="results">
    @if(isProcess)
    {
       @if(result.Items().Count()==0 && query!="")
        {
            <li class="item" >
                <div >
                    <p class="title">Sorry!</p>
                    <p>Document not found</p>
                </div>
            </li>
        }
    }
    
    @foreach (var item in result.Items())
    {
        <li>
            <div class="item">
                <p class="title">@item.Title</p>
                <p>... @item.Snippet ...</p>
                <p>...@item.Score...</p>
            </div>
        </li>
    }
</ul>

@code {
    private bool isProcess= false;
    private SearchResult result = new SearchResult();
    [Parameter] public string? Text { get; set; }
    private string query = "";
    private int UrlCounter = 0;
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Text))
        {
            RunSuggestion();
        }
    }
        protected override void OnParametersSet()
    {
        RunSuggestion();
    }
    private void RunSuggestion()
    {
         if (!string.IsNullOrEmpty(Text))
        {
            query= Text.Split("-").First();
            UrlCounter++;
            RunQuery();
        }
    }

    private void RunQuery()
    {
        if (!string.IsNullOrEmpty(query))
        {
            isProcess=true;
            result = Moogle.Query(query);
            
        }
    }


}
